<!-- SEARCH -->
<mat-form-field class="filter">
  <mat-label>Filtro</mat-label>
  <input matInput [(ngModel)]="list.filter" (keydown.enter)="list.loadItems()">
</mat-form-field>
<button mat-mini-fab class="filter"
        (click)="list.loadItems()"
        color="primary">
  <mat-icon>search</mat-icon>
</button>

<!-- INSERT -->
<button mat-raised-button (click)="navigateToItemCreate()" class="btnNew v-middle"
        color="primary">
  <mat-icon>add</mat-icon>
  Novo Item
</button>

<!-- READ (LIST) -->
<app-item-read #list></app-item-read>
