/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.v-middle {
  vertical-align: middle;
}

.padding-10 {
  padding: 10px;
}

.msg-success {
  background-color: #28a745;
  color: #fff;
}

.msg-error {
  background-color: #e35e6b;
  color: #fff;
}

.filter {
  margin-left: 5px;
  margin-right: 5px;
}

.edit {
  margin-right: 10px;
}

.edit > i {
  color: #d9cd26;
}

.delete > i {
  color: #e35e6b;
}
.actionColumn {
  width: 70px;
}

.btnNew {
  float: right;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.iconWithClick {
  cursor: pointer;
}
